::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* CSS reset above ^^^ */

.wrapper {
  min-height: 100vh; 
  padding: 20px;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

header {
  padding: 20px 20px 0 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 50px;
}

.nav-buttons {
  display: none;
}

.github-icon {
  display: none;
}

.hamburger-menu {
  min-width: 24px;
  min-height: 24px;
  background-color: #ffcc4b;
  border: none;
  border-radius: 6px;
}

.hamburger-menu svg {
  stroke-width: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #ffcc4b;
  color: #000000;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: right 0.4s ease;
  z-index: 1000;
}

.aside-header {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.x-btn {
  background-color: #ffcc4b;
  border: none;
}

.github-icon-side {
  max-height: 22px;
  cursor: pointer;
}

.x-icon {
  max-height: 22px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.sidebar ul li {
  margin:12px 0;
}

.sidebar ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  transition: font-weight 0.3s;
}

.sidebar ul li a:hover {
  font-weight: 700;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.sidebar.active {
  right: 0;
}
.overlay.active {
  display: block;
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-img-container {
  margin: 0 0 16px 0;
  background-image: url('images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 200px;
  border-radius: 8px;
}

.hero-info-container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
}

.subheading  {
  font-size: 14px;
  text-align: center;
}

.hero-btns {
  display: flex;
  margin: 16px 0 0 0;
  justify-content: center;
  gap: 8px;
}

.hero-btns button {
  margin-bottom: 36px;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 13px;
}

.buy-btn {
  background-color: #ffcc4b;
  color: #1d1d1d;
  border: none;
  font-weight: 600;
  transition: opacity 0.4s;
}

.buy-btn:hover {
  opacity: 0.8;
}

.how-btn {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  transition: background-color 0.4s, border-color 0.4s, color 0.4s;
}

.how-btn:hover {
  background-color: #ffcc4b;
  border-color: #ffcc4b;
  color: #000000;
}

.key-points-container {
  margin: 16px 0 32px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 16px;
}

.key-point {
  padding: 12px 16px;
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;

  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.key-point-icon {
  background-color: #ffcc4b;
  padding: 8px;
  border-radius: 20px;
}

.key-point-icon svg {
  min-width: 24px;
  min-height: 24px;
}

.key-point-content {
  align-items:start;
}

h2 {
  font-size: 18px;
}

.key-point-content p {
  font-size: 12px;
  color: #000000;
}

.best-delivered-container {
  display: flex;
  flex-direction: column;
}

.best-delivered-items-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

.food-category {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.food-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.food-category p {
  font-size: 12px;
}

.food-img {
  background-size: cover;
  background-position: center;
  min-height: 200px;
  border-radius: 8px;
}

.burger {
  background-image: url('images/burger.jpg');
}

.ramen {
  background-image: url('images/ramen.jpg');
}

.fries {
  background-image: url('images/fries.jpg');
}

.dessert {
  background-image: url('images/dessert.jpg');
}

footer {
  width: 100%;
  padding: 12px;
}

footer {
  margin-top: 20px;
  background-color: #ffcc4b;
}

footer p {
  font-size: 12px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  margin: 0 auto;
  max-width: 40%;
}

footer h3 {
  margin-bottom: 8px;
  text-align: left;
}

.social-media {
  margin: 24px 0 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.social-media-icon {
  max-height: 20px;
  cursor: pointer;
}

.footer-main {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(120px));
  justify-content: center;
  align-items: center;
}

.footer-main p {
  text-align: left;
}

.author {
  margin-top: 8px;
  text-align: center;
}

/* .menu-items-container {
  display: flex;
  flex-direction: column;
} */

.menu-heading-container {
  margin-bottom: 32px;
}

.menu-subheading {
  text-align: center;
  font-size: 14px;
}

.menu-items-container {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 296px));
  grid-gap: 16px;
  justify-content: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}

.menu-item-img {
  margin-bottom: 12px;
  border-radius: 10px;
}

.menu-item-price-container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-price {
  font-size: 28px;
  font-weight: 800;
}

.order-btn {
  padding: 4px 10px;
  background-color: #ffcc4b;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
}


/* sm */
@media (min-width: 600px) {
  .nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .nav-btn {
    background-color: transparent;
    border: none;
    font-size: 14px;
  }

  .home-btn {
    padding: 4px 10px;
    border-radius: 8px;
    background-color: #ffcc4b;
    font-weight: 600;
  }

  .github-icon {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  .home-hero {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
  }

  .hero-img-container {
    width: 87%;
    min-height: 240px;
    max-width: 800px;
  }

  .hero-info-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  .hero-heading {
    text-align: left;
    font-size: 40px;
  }

  .hero-info-container .subheading {
    text-align: left;
  }

  .hero-btns {
    justify-content: start;
    margin-top: auto;
  }

  .hero-btns button {
    margin-bottom: 0px;
  }
}

/* md */
@media (min-width: 768px) {
  .hero-img-container {
    width: 87%;
    min-height: 320px;
    max-width: 800px;
  }

  .hero-heading {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 8px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero-img-container {
    width: 80%;
    min-height: 300px;
    max-width: 800px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-img-container {
    width: 80%;
    min-height: 300px;
    max-width: 800px;
  }
}