::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2b2e32;
    border-radius: 10px;
    border: 3px solid #222529;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    font-family: "Inter", sans-serif;
    background-color: #ffffff;

    /* for footer */
    /* position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 50px; */
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* CSS reset above ^^^ */

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    max-height: 50px;
  }

  .hamburger-menu {
    min-width: 24px;
    min-height: 24px;
    background-color: #ffcc4b;
    border: none;
    border-radius: 6px;
  }

  .home-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-img-container {
    margin: 16px 0 16px 0;
    background-image: url('images/hero-bg.jpg');
    background-size:cover;
    background-position: center;
    min-height: 200px;
    border-radius: 8px;
  }

  .hero-info-container {
    display: flex;
    flex-direction: column;
  }

  .hero-info-container h1 {
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
  }

  .hero-info-container p {
    font-size: 14px;
    text-align: center;
  }

  .hero-btns {
    display: flex;
    margin: 16px 0 0 0;
    justify-content: center;
    gap: 8px;
  }

  .hero-btns button {
    margin-bottom: 32px;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 13px;
  }

  .buy-btn {
    background-color: #ffcc4b;
    color: #1d1d1d;
    border: none;
    font-weight: 600;
  }

  .how-btn {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
  }

  .key-points-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 16px;
  }

  .key-point {
    padding: 8px 16px;
    display: flex;
    gap: 12px;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;

    background-color: #ffffff;
    border: 1px solid #cacaca;
    border-radius: 8px;
  }

  .key-point-icon {
    background-color: #ffcc4b;
    padding: 8px;
    border-radius: 20px;
  }

  .key-point-icon svg {
    min-width: 24px;
    min-height: 24px;
  }

  .key-point-content {
    align-items:start;
  }

  .key-point-content h2 {
    font-size: 18px;
  }

  .key-point-content p {
    font-size: 12px;
    color: #000000;
  }